#  игнорируются файлы идеи
*.iml
../.idea

# игнор папок для автогенерируемых результатов сборки
out
target

# Если вы забыли проигнорировать какие-либо файлы
# и они попали в репозиторий, используйте команду: git rm